<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Nuevo comentario de compra</title>
  </head>

  <body style="-moz-box-sizing: border-box; -ms-text-size-adjust: 100%; -webkit-box-sizing: border-box; -webkit-text-size-adjust: 100%; Margin: 0; box-sizing: border-box; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; line-height: 19px; margin: 0; min-width: 100%; padding: 0; text-align: left; width: 100% !important;">
    <style>
      @media only screen {
        html {
          min-height: 100%;
          background: #fefefe;
        }
      }
      
      @media only screen and (max-width: 666px) {
        .small-float-center {
          margin: 0 auto !important;
          float: none !important;
          text-align: center !important;
        }
        .small-text-center {
          text-align: center !important;
        }
        .small-text-left {
          text-align: left !important;
        }
        .small-text-right {
          text-align: right !important;
        }
      }
      
      @media only screen and (max-width: 666px) {
        table.body table.container .hide-for-large {
          display: block !important;
          width: auto !important;
          overflow: visible !important;
        }
      }
      
      @media only screen and (max-width: 666px) {
        table.body table.container .row.hide-for-large,
        table.body table.container .row.hide-for-large {
          display: table !important;
          width: 100% !important;
        }
      }
      
      @media only screen and (max-width: 666px) {
        table.body table.container .show-for-large {
          display: none !important;
          width: 0;
          mso-hide: all;
          overflow: hidden;
        }
      }
      
      @media only screen and (max-width: 666px) {
        table.body img {
          width: auto !important;
          height: auto !important;
        }
        table.body center {
          min-width: 0 !important;
        }
        table.body .container {
          width: 95% !important;
        }
        table.body .columns,
        table.body .column {
          height: auto !important;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          padding-left: 16px !important;
          padding-right: 16px !important;
        }
        table.body .columns .column,
        table.body .columns .columns,
        table.body .column .column,
        table.body .column .columns {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
        table.body .collapse .columns,
        table.body .collapse .column {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
        td.small-1,
        th.small-1 {
          display: inline-block !important;
          width: 2.77778% !important;
        }
        td.small-2,
        th.small-2 {
          display: inline-block !important;
          width: 5.55556% !important;
        }
        td.small-3,
        th.small-3 {
          display: inline-block !important;
          width: 8.33333% !important;
        }
        td.small-4,
        th.small-4 {
          display: inline-block !important;
          width: 11.11111% !important;
        }
        td.small-5,
        th.small-5 {
          display: inline-block !important;
          width: 13.88889% !important;
        }
        td.small-6,
        th.small-6 {
          display: inline-block !important;
          width: 16.66667% !important;
        }
        td.small-7,
        th.small-7 {
          display: inline-block !important;
          width: 19.44444% !important;
        }
        td.small-8,
        th.small-8 {
          display: inline-block !important;
          width: 22.22222% !important;
        }
        td.small-9,
        th.small-9 {
          display: inline-block !important;
          width: 25% !important;
        }
        td.small-10,
        th.small-10 {
          display: inline-block !important;
          width: 27.77778% !important;
        }
        td.small-11,
        th.small-11 {
          display: inline-block !important;
          width: 30.55555% !important;
        }
        td.small-12,
        th.small-12 {
          display: inline-block !important;
          width: 33.33333% !important;
        }
        td.small-13,
        th.small-13 {
          display: inline-block !important;
          width: 36.11111% !important;
        }
        td.small-14,
        th.small-14 {
          display: inline-block !important;
          width: 38.88889% !important;
        }
        td.small-15,
        th.small-15 {
          display: inline-block !important;
          width: 41.66667% !important;
        }
        td.small-16,
        th.small-16 {
          display: inline-block !important;
          width: 44.44444% !important;
        }
        td.small-17,
        th.small-17 {
          display: inline-block !important;
          width: 47.22222% !important;
        }
        td.small-18,
        th.small-18 {
          display: inline-block !important;
          width: 50% !important;
        }
        td.small-19,
        th.small-19 {
          display: inline-block !important;
          width: 52.77778% !important;
        }
        td.small-20,
        th.small-20 {
          display: inline-block !important;
          width: 55.55555% !important;
        }
        td.small-21,
        th.small-21 {
          display: inline-block !important;
          width: 58.33333% !important;
        }
        td.small-22,
        th.small-22 {
          display: inline-block !important;
          width: 61.11111% !important;
        }
        td.small-23,
        th.small-23 {
          display: inline-block !important;
          width: 63.88889% !important;
        }
        td.small-24,
        th.small-24 {
          display: inline-block !important;
          width: 66.66667% !important;
        }
        td.small-25,
        th.small-25 {
          display: inline-block !important;
          width: 69.44444% !important;
        }
        td.small-26,
        th.small-26 {
          display: inline-block !important;
          width: 72.22222% !important;
        }
        td.small-27,
        th.small-27 {
          display: inline-block !important;
          width: 75% !important;
        }
        td.small-28,
        th.small-28 {
          display: inline-block !important;
          width: 77.77778% !important;
        }
        td.small-29,
        th.small-29 {
          display: inline-block !important;
          width: 80.55555% !important;
        }
        td.small-30,
        th.small-30 {
          display: inline-block !important;
          width: 83.33333% !important;
        }
        td.small-31,
        th.small-31 {
          display: inline-block !important;
          width: 86.11111% !important;
        }
        td.small-32,
        th.small-32 {
          display: inline-block !important;
          width: 88.88889% !important;
        }
        td.small-33,
        th.small-33 {
          display: inline-block !important;
          width: 91.66667% !important;
        }
        td.small-34,
        th.small-34 {
          display: inline-block !important;
          width: 94.44444% !important;
        }
        td.small-35,
        th.small-35 {
          display: inline-block !important;
          width: 97.22222% !important;
        }
        td.small-36,
        th.small-36 {
          display: inline-block !important;
          width: 100% !important;
        }
        .columns td.small-36,
        .column td.small-36,
        .columns th.small-36,
        .column th.small-36 {
          display: block !important;
          width: 100% !important;
        }
        table.body td.small-offset-1,
        table.body th.small-offset-1 {
          margin-left: 2.77778% !important;
          Margin-left: 2.77778% !important;
        }
        table.body td.small-offset-2,
        table.body th.small-offset-2 {
          margin-left: 5.55556% !important;
          Margin-left: 5.55556% !important;
        }
        table.body td.small-offset-3,
        table.body th.small-offset-3 {
          margin-left: 8.33333% !important;
          Margin-left: 8.33333% !important;
        }
        table.body td.small-offset-4,
        table.body th.small-offset-4 {
          margin-left: 11.11111% !important;
          Margin-left: 11.11111% !important;
        }
        table.body td.small-offset-5,
        table.body th.small-offset-5 {
          margin-left: 13.88889% !important;
          Margin-left: 13.88889% !important;
        }
        table.body td.small-offset-6,
        table.body th.small-offset-6 {
          margin-left: 16.66667% !important;
          Margin-left: 16.66667% !important;
        }
        table.body td.small-offset-7,
        table.body th.small-offset-7 {
          margin-left: 19.44444% !important;
          Margin-left: 19.44444% !important;
        }
        table.body td.small-offset-8,
        table.body th.small-offset-8 {
          margin-left: 22.22222% !important;
          Margin-left: 22.22222% !important;
        }
        table.body td.small-offset-9,
        table.body th.small-offset-9 {
          margin-left: 25% !important;
          Margin-left: 25% !important;
        }
        table.body td.small-offset-10,
        table.body th.small-offset-10 {
          margin-left: 27.77778% !important;
          Margin-left: 27.77778% !important;
        }
        table.body td.small-offset-11,
        table.body th.small-offset-11 {
          margin-left: 30.55555% !important;
          Margin-left: 30.55555% !important;
        }
        table.body td.small-offset-12,
        table.body th.small-offset-12 {
          margin-left: 33.33333% !important;
          Margin-left: 33.33333% !important;
        }
        table.body td.small-offset-13,
        table.body th.small-offset-13 {
          margin-left: 36.11111% !important;
          Margin-left: 36.11111% !important;
        }
        table.body td.small-offset-14,
        table.body th.small-offset-14 {
          margin-left: 38.88889% !important;
          Margin-left: 38.88889% !important;
        }
        table.body td.small-offset-15,
        table.body th.small-offset-15 {
          margin-left: 41.66667% !important;
          Margin-left: 41.66667% !important;
        }
        table.body td.small-offset-16,
        table.body th.small-offset-16 {
          margin-left: 44.44444% !important;
          Margin-left: 44.44444% !important;
        }
        table.body td.small-offset-17,
        table.body th.small-offset-17 {
          margin-left: 47.22222% !important;
          Margin-left: 47.22222% !important;
        }
        table.body td.small-offset-18,
        table.body th.small-offset-18 {
          margin-left: 50% !important;
          Margin-left: 50% !important;
        }
        table.body td.small-offset-19,
        table.body th.small-offset-19 {
          margin-left: 52.77778% !important;
          Margin-left: 52.77778% !important;
        }
        table.body td.small-offset-20,
        table.body th.small-offset-20 {
          margin-left: 55.55555% !important;
          Margin-left: 55.55555% !important;
        }
        table.body td.small-offset-21,
        table.body th.small-offset-21 {
          margin-left: 58.33333% !important;
          Margin-left: 58.33333% !important;
        }
        table.body td.small-offset-22,
        table.body th.small-offset-22 {
          margin-left: 61.11111% !important;
          Margin-left: 61.11111% !important;
        }
        table.body td.small-offset-23,
        table.body th.small-offset-23 {
          margin-left: 63.88889% !important;
          Margin-left: 63.88889% !important;
        }
        table.body td.small-offset-24,
        table.body th.small-offset-24 {
          margin-left: 66.66667% !important;
          Margin-left: 66.66667% !important;
        }
        table.body td.small-offset-25,
        table.body th.small-offset-25 {
          margin-left: 69.44444% !important;
          Margin-left: 69.44444% !important;
        }
        table.body td.small-offset-26,
        table.body th.small-offset-26 {
          margin-left: 72.22222% !important;
          Margin-left: 72.22222% !important;
        }
        table.body td.small-offset-27,
        table.body th.small-offset-27 {
          margin-left: 75% !important;
          Margin-left: 75% !important;
        }
        table.body td.small-offset-28,
        table.body th.small-offset-28 {
          margin-left: 77.77778% !important;
          Margin-left: 77.77778% !important;
        }
        table.body td.small-offset-29,
        table.body th.small-offset-29 {
          margin-left: 80.55555% !important;
          Margin-left: 80.55555% !important;
        }
        table.body td.small-offset-30,
        table.body th.small-offset-30 {
          margin-left: 83.33333% !important;
          Margin-left: 83.33333% !important;
        }
        table.body td.small-offset-31,
        table.body th.small-offset-31 {
          margin-left: 86.11111% !important;
          Margin-left: 86.11111% !important;
        }
        table.body td.small-offset-32,
        table.body th.small-offset-32 {
          margin-left: 88.88889% !important;
          Margin-left: 88.88889% !important;
        }
        table.body td.small-offset-33,
        table.body th.small-offset-33 {
          margin-left: 91.66667% !important;
          Margin-left: 91.66667% !important;
        }
        table.body td.small-offset-34,
        table.body th.small-offset-34 {
          margin-left: 94.44444% !important;
          Margin-left: 94.44444% !important;
        }
        table.body td.small-offset-35,
        table.body th.small-offset-35 {
          margin-left: 97.22222% !important;
          Margin-left: 97.22222% !important;
        }
        table.body table.columns td.expander,
        table.body table.columns th.expander {
          display: none !important;
        }
        table.body .right-text-pad,
        table.body .text-pad-right {
          padding-left: 10px !important;
        }
        table.body .left-text-pad,
        table.body .text-pad-left {
          padding-right: 10px !important;
        }
        table.menu {
          width: 100% !important;
        }
        table.menu td,
        table.menu th {
          width: auto !important;
          display: inline-block !important;
        }
        table.menu.vertical td,
        table.menu.vertical th,
        table.menu.small-vertical td,
        table.menu.small-vertical th {
          display: block !important;
        }
        table.menu[align="center"] {
          width: auto !important;
        }
      }
      
      @media only screen and (max-width: 666px) {
        .btn-google-play,
        .btn-app-store {
          text-align: center !important;
        }
      }
    </style> <span class="preheader"></span>
    <table class="body" style="Margin: 0; background: #fefefe; border-collapse: collapse; border-spacing: 0; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; height: 100%; line-height: 19px; margin: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
      <tr style="padding: 0; text-align: left; vertical-align: top;">
        <td class="center" align="center" valign="top" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; hyphens: auto; line-height: 19px; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">
          <center data-parsed="" style="min-width: 650px; width: 100%;">
            <table align="center" class="container float-center" style="Margin: 0 auto; background: #fefefe; border-collapse: collapse; border-spacing: 0; float: none; margin: 0 auto; padding: 0; text-align: center; vertical-align: top; width: 650px;">
              <tbody>
                <tr style="padding: 0; text-align: left; vertical-align: top;">
                  <td style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; hyphens: auto; line-height: 19px; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">
                    <div class="header">
                      <table class="spacer" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top;">
                        <tbody>
                          <tr style="padding: 0; text-align: left; vertical-align: top;">
                            <td height="56px" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 56px; font-weight: normal; hyphens: auto; line-height: 56px; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">&#xA0;</td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="row collapse" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
                        <tbody>
                          <tr style="padding: 0; text-align: left; vertical-align: top;">
                            <th class="small-36 large-18 columns first" style="Margin: 0 auto; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; line-height: 19px; margin: 0 auto; padding: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; text-align: left; width: 333px;">
                              <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
                                <tr style="padding: 0; text-align: left; vertical-align: top;">
                                  <th style="Margin: 0; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; line-height: 19px; margin: 0; padding: 0; text-align: left;"> <img class="logo" src="http://www.retiqueta.com/email_images/logo_retiqueta.png" alt="Retiqueta" style="-ms-interpolation-mode: bicubic; clear: both; display: block; margin-left: 50px; max-width: 100%; outline: none; text-decoration: none; width: auto;">                                    </th>
                                </tr>
                              </table>
                            </th>
                            <th class="small-36 large-18 columns last" style="Margin: 0 auto; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; line-height: 19px; margin: 0 auto; padding: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; text-align: left; width: 333px;">
                              <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
                                <tr style="padding: 0; text-align: left; vertical-align: top;">
                                  <th style="Margin: 0; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; line-height: 19px; margin: 0; padding: 0; text-align: left;">
                                    <table class="links" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
                                      <tr style="padding: 0; text-align: left; vertical-align: top;">
                                        <td class="hashtag" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #a4a4a4; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; height: 46px; hyphens: auto; line-height: 19px; margin: 0; padding: 0; text-align: right; vertical-align: middle; word-wrap: break-word;">#Retiqueta</td>
                                        <td class="icon facebook" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; height: 46px; hyphens: auto; line-height: 19px; margin: 0; padding: 0; padding-left: 12px; text-align: left; vertical-align: middle; width: 28px; word-wrap: break-word;">
                                          <a href="https://www.facebook.com/Retiqueta-1659188051026218/" target="_blank" style="Margin: 0; color: #2199e8; font-family: Verdana, Geneva, sans-serif; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left; text-decoration: none;">
                                          <img alt="Facebook" src="http://www.retiqueta.com/email_images/icon_fb.png" style="-ms-interpolation-mode: bicubic; border: none; clear: both; display: block; max-width: 28px !important; min-width: 28px !important; outline: none; text-decoration: none; width: auto;">                                            </a>
                                        </td>
                                        <td class="icon instagram" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; height: 46px; hyphens: auto; line-height: 19px; margin: 0; padding: 0; padding-left: 12px; text-align: left; vertical-align: middle; width: 28px; word-wrap: break-word;">
                                          <a href="https://www.instagram.com/retiqueta/" target="_blank" style="Margin: 0; color: #2199e8; font-family: Verdana, Geneva, sans-serif; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left; text-decoration: none;">
                                          <img alt="Instagram" src="http://www.retiqueta.com/email_images/icon_ig.png" style="-ms-interpolation-mode: bicubic; border: none; clear: both; display: block; max-width: 28px !important; min-width: 28px !important; outline: none; text-decoration: none; width: auto;">                                            </a>
                                        </td>
                                        <td class="icon blog" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; height: 46px; hyphens: auto; line-height: 19px; margin: 0; padding: 0; padding-left: 12px; padding-right: 50px; text-align: left; vertical-align: middle; width: 28px; word-wrap: break-word;">
                                          <a href="http://blog.retiqueta.com" target="_blank" style="Margin: 0; color: #2199e8; font-family: Verdana, Geneva, sans-serif; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left; text-decoration: none;">
                                          <img alt="Blog" src="http://www.retiqueta.com/email_images/icon_sp.png" style="-ms-interpolation-mode: bicubic; border: none; clear: both; display: block; max-width: 28px !important; min-width: 28px !important; outline: none; text-decoration: none; width: auto;">                                            </a>
                                        </td>
                                      </tr>
                                    </table>
                                  </th>
                                </tr>
                              </table>
                            </th>
                          </tr>
                        </tbody>
                      </table>
                      <table class="spacer" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top;">
                        <tbody>
                          <tr style="padding: 0; text-align: left; vertical-align: top;">
                            <td height="10px" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 10px; font-weight: normal; hyphens: auto; line-height: 10px; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">&#xA0;</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="frame">
                      <div class="border-top" style="background: #F2F2F2 url('http://www.retiqueta.com/email_images/bg_top.jpg') repeat;">
                        <table class="spacer" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top;">
                          <tbody>
                            <tr style="padding: 0; text-align: left; vertical-align: top;">
                              <td height="25px" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 25px; font-weight: normal; hyphens: auto; line-height: 25px; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">&#xA0;</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <table class="row collapse" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
                        <tbody>
                          <tr style="padding: 0; text-align: left; vertical-align: top;">
                            <th class="border-left hide-for-small small-1 large-1 columns first" style="Margin: 0 auto; background: #F2F2F2 url('http://www.retiqueta.com/email_images/bg_left.jpg') repeat; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; height: 100% !important; line-height: 19px; margin: 0 auto; padding: 0; padding-bottom: 0 !important; padding-left: 0; padding-right: 0; text-align: left; width: 26.05556px;">
                              <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
                                <tr style="padding: 0; text-align: left; vertical-align: top;">
                                  <th style="Margin: 0; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; line-height: 19px; margin: 0; padding: 0; text-align: left;"></th>
                                </tr>
                              </table>
                            </th>
                            <th class="main-content small-34 large-34 columns" style="Margin: 0 auto; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; line-height: 19px; margin: 0 auto; padding: 0; padding-bottom: 0 !important; padding-left: 0; padding-right: 0; text-align: left; width: 613.88889px;">
                              <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
                                <tr style="padding: 0; text-align: left; vertical-align: top;">
                                  <th style="Margin: 0; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; line-height: 19px; margin: 0; padding: 0; text-align: left;">
                                    <table class="spacer" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
                                      <tbody>
                                        <tr style="padding: 0; text-align: left; vertical-align: top;">
                                          <td height="45px" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 45px; font-weight: normal; hyphens: auto; line-height: 45px; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">&#xA0;</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <center data-parsed="" style="min-width: 565.88889px; width: 100%;"> <img alt="¡Hola! =)" src="http://www.retiqueta.com/email_images/greeting.png" align="center" class="float-center" style="-ms-interpolation-mode: bicubic; Margin: 0 auto; clear: both; display: block; float: none; height: 45px; margin: 0 auto; max-width: 100%; outline: none; text-align: center; text-decoration: none; width: 180px;">                                      </center>
                                    <table class="spacer" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
                                      <tbody>
                                        <tr style="padding: 0; text-align: left; vertical-align: top;">
                                          <td height="45px" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 45px; font-weight: normal; hyphens: auto; line-height: 45px; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">&#xA0;</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <table class="row collapse" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
                                      <tbody>
                                        <tr style="padding: 0; text-align: left; vertical-align: top;">
                                          <th class="text-content small-36 large-36 columns first last" style="Margin: 0 auto; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; line-height: 19px; margin: 0 auto; padding: 0; padding-bottom: 16px; padding-left: 0; padding-right: 0; text-align: left; width: 100%;">
                                            <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
                                              <tr style="padding: 0; text-align: left; vertical-align: top;">
                                                <th style="Margin: 0; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; line-height: 19px; margin: 0; padding: 0 35px; text-align: left;">
                                                  <p style="-moz-hyphens: none; -ms-hyphens: none; -webkit-hyphens: none; Margin: 0; Margin-bottom: 10px; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;"><strong><%= @user.name %></strong></p>
                                                  <p style="-moz-hyphens: none; -ms-hyphens: none; -webkit-hyphens: none; Margin: 0; Margin-bottom: 10px; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">¡Tu closet está atrayendo a posibles compradores!</p>
                                                  <p style="-moz-hyphens: none; -ms-hyphens: none; -webkit-hyphens: none; Margin: 0; Margin-bottom: 10px; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">Tienes un nuevo comentario en tu producto: <strong><%= @product.description %></strong></p>
                                                  <p style="-moz-hyphens: none; -ms-hyphens: none; -webkit-hyphens: none; Margin: 0; Margin-bottom: 10px; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;"><%= @commenter.name %> dice:</p>
                                                  <p style="-moz-hyphens: none; -ms-hyphens: none; -webkit-hyphens: none; Margin: 0; Margin-bottom: 10px; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">
                                                    <center data-parsed="" style="min-width: 602px; width: 100%;"><strong align="center" class="float-center"><%= @text %></strong></center>
                                                  </p>
                                                  <p style="-moz-hyphens: none; -ms-hyphens: none; -webkit-hyphens: none; Margin: 0; Margin-bottom: 10px; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">Responde taggeando a <strong>@<%=@commenter.username  %></strong></p>
                                                  <p style="-moz-hyphens: none; -ms-hyphens: none; -webkit-hyphens: none; Margin: 0; Margin-bottom: 10px; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">¡Deseamos que concretes esta compra!</p>
                                                  <p style="-moz-hyphens: none; -ms-hyphens: none; -webkit-hyphens: none; Margin: 0; Margin-bottom: 10px; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">Gracias por formar parte de esta comunidad.</p>
                                                  <p style="-moz-hyphens: none; -ms-hyphens: none; -webkit-hyphens: none; Margin: 0; Margin-bottom: 10px; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">Retiqueta</p>
                                                </th>
                                              </tr>
                                            </table>
                                          </th>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <div class="outro">
                                      <div class="logo-top">
                                        <center data-parsed="" style="min-width: 565.88889px; width: 100%;"> <img src="http://www.retiqueta.com/email_images/logo_top.png" alt="Reti" align="center" class="float-center" style="-ms-interpolation-mode: bicubic; Margin: 0 auto; clear: both; display: block; float: none; height: 40px; margin: 0 auto; max-width: 100%; outline: none; text-align: center; text-decoration: none; width: 80px;">                                          </center>
                                      </div>
                                      <div class="logo-bottom" style="background-color: #f5947c;">
                                        <center data-parsed="" style="min-width: 565.88889px; width: 100%;"> <img src="http://www.retiqueta.com/email_images/logo_bottom.png" alt="queta" align="center" class="float-center" style="-ms-interpolation-mode: bicubic; Margin: 0 auto; clear: both; display: block; float: none; height: 40px; margin: 0 auto; max-width: 100%; outline: none; text-align: center; text-decoration: none; width: 80px;">                                          </center>
                                      </div>
                                      <table class="row collapse" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
                                        <tbody>
                                          <tr style="padding: 0; text-align: left; vertical-align: top;">
                                            <th class="text-content small-36 large-36 columns first last" style="Margin: 0 auto; background-color: #f5947c; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; line-height: 19px; margin: 0 auto; padding: 0; padding-bottom: 16px; padding-left: 0; padding-right: 0; text-align: left; width: 100%;">
                                              <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
                                                <tr style="padding: 0; text-align: left; vertical-align: top;">
                                                  <th style="Margin: 0; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; line-height: 19px; margin: 0; padding: 0 35px; text-align: left;">
                                                    <p style="-moz-hyphens: none; -ms-hyphens: none; -webkit-hyphens: none; Margin: 0; Margin-bottom: 10px; color: #fefefe; font-family: Verdana, Geneva, sans-serif; font-size: 0.6em; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; margin-bottom: 0; padding: 0; text-align: left;">
                                                    Este e-mail fue enviado por Retiqueta App Mobile, C.A. RIF J-40713235-0. Dirección: Av. El Parque con segunda avenida, Edif. Meseta Campo Alegre, Urb. Campo Alegre, Chacao. Zona &#65279;postal&#65279;
                                                      &#65279;1060&#65279;, &#65279;Caracas&#65279;, &#65279;Venezuela&#65279;. Este e-mail ha sido enviado automáticamente, por favor no responder este mensaje. Nunca envíes tu clave o datos de tu cuenta
                                                      por e-mail. </p>
                                                  </th>
                                                </tr>
                                              </table>
                                            </th>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </th>
                                </tr>
                              </table>
                            </th>
                            <th class="border-right small-1 large-1 columns last" style="Margin: 0 auto; background: #F2F2F2 url('http://www.retiqueta.com/email_images/bg_right.jpg') repeat; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; height: 100% !important; line-height: 19px; margin: 0 auto; padding: 0; padding-bottom: 0 !important; padding-left: 0; padding-right: 0; text-align: left; width: 26.05556px;">
                              <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
                                <tr style="padding: 0; text-align: left; vertical-align: top;">
                                  <th style="Margin: 0; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: normal; line-height: 19px; margin: 0; padding: 0; text-align: left;"></th>
                                </tr>
                              </table>
                            </th>
                          </tr>
                        </tbody>
                      </table>
                      <div class="border-bottom" style="background: #F2F2F2 url('http://www.retiqueta.com/email_images/bg_bottom.jpg') repeat;">
                        <table class="spacer" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top;">
                          <tbody>
                            <tr style="padding: 0; text-align: left; vertical-align: top;">
                              <td height="25px" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 25px; font-weight: normal; hyphens: auto; line-height: 25px; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">&#xA0;</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
    <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>

</html>
